
<div class="container">
  <div fxLayout="row" fxLayoutAlign="center center" class="mt-5 mb-5">
    <div fxFlex fxLayoutAlign="center center">
      <h1>{{currentUser.nombres}} {{this.currentUser.apellidos}}</h1>
    </div>

    <div fxFlex="20">
      <button mat-stroked-button color="primary" > Publica un Trabajo</button>
    </div>
    <div fxFlex="20">
      <button mat-raised-button color="primary" > Publica un Trabajo</button>
    </div>
  </div>

  <app-trabajo-list></app-trabajo-list>

</div>



