
<footer class="text-secondary">
  <div class="container pt-5 pb-5">
    <div fxLayout="row">
      <div fxFlex="25">
        <p>Columna</p>
        <p>Columna</p>
        <p>Columna</p>
      </div>
      <div fxFlex="25" fxLayout="column">
        <p>Columna</p>
        <p>Columna</p>
        <p>Columna</p>
      </div>
      <div fxFlex="25">
        <p>Columna</p>
        <p>Columna</p>
        <p>Columna</p>
      </div>
      <div fxFlex="25">
        <p>Columna</p>
        <p>Columna</p>
        <p>Columna</p>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="row" class="mt-2 mb-2">
      <div class="siguenos">
        <span>Siguenos en</span>

        <a href="google.com"><fa-icon [icon]="['fab', 'angular']" transform="grow-15"></fa-icon></a>
        <a href="google.com"><fa-icon [icon]="['fab', 'github']" transform="grow-15"></fa-icon></a>
        <a href="google.com"><fa-icon [icon]="['fab', 'facebook']" transform="grow-15"></fa-icon></a>
        <a href="google.com"><fa-icon [icon]="['fab', 'twitter']" transform="grow-15"></fa-icon></a>

      </div>
    </div>
    <mat-divider></mat-divider>
    <div>
      <span>© 2021 Chambea®  Gaa. </span>
    </div>
  </div>
</footer>
