
<div class="container">
  <div fxLayout="row" fxLayoutAlign="center center" class="mt-5 mb-5">
    <div fxFlex fxLayoutAlign="">
      <h1 style="margin: 0;">{{currentUser.nombres}} {{this.currentUser.apellidos}}</h1>
    </div>

    <div fxFlex="15">
      <button mat-stroked-button color="primary" > Empleadores</button>
    </div>
    <div fxFlex="20">
      <button mat-raised-button color="primary"  [routerLink]="['../trabajos'] "> Buscar Trabajos</button>
    </div>
  </div>

  <app-postulaciones-list></app-postulaciones-list>
</div>



