<mat-toolbar color="primary" *ngIf="currentUser">
  <mat-toolbar-row class="container">
    <img src="assets/img/logo.png" alt="logo" class="logo">
    <span class="spacer-small"></span>
    <span matPrefix></span>
    <mat-form-field floatLabel="never">
      <input matInput type="search" placeholder="Busqueda">
    </mat-form-field>

    <span class="spacer">
    </span>

    <div *ngIf="actualRol=='empleador'">
      <button  mat-button [mat-menu-trigger-for]="menuT">Trabajos</button>
      <mat-menu #menuT="matMenu">
        <button [routerLink]="['./home']" mat-menu-item>Mis Trabajos</button>
        <button mat-menu-item routerLink="trabajo/new">Publicar un trabajo</button>
      </mat-menu>

      <button mat-button  [mat-menu-trigger-for]="menuF">Freelancers</button>
      <mat-menu #menuF="matMenu">
        <button mat-menu-item>Descubrir</button>
        <button mat-menu-item>Favoritos</button>
      </mat-menu>
    </div>

    <div *ngIf="actualRol=='freelancer'">
      <button  mat-button [mat-menu-trigger-for]="menuT">Trabajos</button>
      <mat-menu #menuT="matMenu">
        <button [routerLink]="['./home']" mat-menu-item>Buscar Trabajos</button>
      </mat-menu>

      <button mat-button  [mat-menu-trigger-for]="menuF">Postulaciones</button>
      <mat-menu #menuF="matMenu">
        <button mat-menu-item>Mis Postulaciones</button>
      </mat-menu>
    </div>


    <button mat-button>Mensajes</button>

    <mat-divider class="divider" [vertical]="true"></mat-divider>

    <button mat-button [mat-menu-trigger-for]="menuP">
      <mat-icon>
        person
      </mat-icon>
      <mat-label>{{currentUser.nombres}}</mat-label>
    </button>
    <mat-menu #menuP="matMenu">
      <mat-button-toggle-group *ngIf="currentUser.esFreelancer" name="changeRole" aria-label="Role">
        <mat-button-toggle value="freelancer" routerLink="/freelancers/home" (click)="changeRol('freelancer')">Freelancer</mat-button-toggle>
        <mat-button-toggle value="empleador" routerLink="/emp/home" (click)="changeRol('empleador')">Empleador</mat-button-toggle>
      </mat-button-toggle-group>
      <button *ngIf="!currentUser.esFreelancer" mat-menu-item>Conviertete en Freelancer</button>
      <button mat-menu-item>Perfil</button>
      <button mat-menu-item (click)="logout()">Cerrar Sesion</button>
    </mat-menu>

  </mat-toolbar-row>
</mat-toolbar>
