<div class="outer-container container" *ngIf="trabajo">

  <div fxLayout="row" fxLayoutAlign="center center" class="mt-4 mb-4">
    <div fxFlex fxLayoutAlign="">
      <h2 style="margin: 0; padding-left: 40px">{{trabajo.titulo}}</h2>
    </div>
  </div>

  <div class="container">

    <app-breadcrumb *ngIf=" currentRoute!='edit'"></app-breadcrumb>

    <router-outlet></router-outlet>
    <!--
    <button (click)="announce()">
      ANUNCIAR
    </button>
    -->
  </div>

</div>



<!--
  <h4>Habilidades</h4>
  <div fxLayout="row">
    <mat-chip-list class="mat-chip-list-stacked">
      <mat-chip *ngFor="let habilidad of trabajo.habilidades">
        {{ habilidad.habilidad.descripcion}}
      </mat-chip>
    </mat-chip-list>
  </div>
  -->
