
/*
body{
  background-image: url("src/assets/img/background.jpg");
  background-size: cover;
  height: 650px;
}

 */


mat-toolbar{
  background-color: #d74700;;
}

body{
  background-color: #726b6d;
}
