
<header>
  <mat-toolbar color="primary">
    <!--
    <span>Chambea.pe</span>
    -->
    <img src="././assets/img/logo.png" class="img-fluid" style="max-height: 60%">
    <span class="spacer"></span>


    <button *ngIf="inRegister" mat-raised-button (click)="inRegister=false" routerLink="/auth/login" color="accent">Iniciar Sesion</button>
    <button *ngIf="!inRegister" mat-raised-button (click)="inRegister=true" routerLink="/auth/signin" color="accent">Registrarse</button>
  </mat-toolbar>
</header>

<body>
  <div class="container p-5 mt-5 mb-5">
    <router-outlet></router-outlet>
  </div>
</body>

<app-footer></app-footer>


